body {
    background-image: linear-gradient(90deg, #f7f8f7, rgb(143, 17, 8));
font-family: "Times New Roman", Times, serif;
}



ul {list-style-type:none}
li {list-style-type:none}



#container {
    /*width: 300px;*/
    border: 15px solid rgb(36, 6, 107);
    width: 80%;
    padding: 50px;
    margin: 20px;
    height: 80;

    font-family: 'Be Vietnam', sans-serif;

   

}
header{
    color: #1a0303;
    text-align: center;
    /*font-size: 55px;*/
    }

   